<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-site-heading" data-cy="SiteCreateUpdateHeading" jhiTranslate="harkSvrApp.site.home.createOrEditLabel">
        Create or edit a Site
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="harkSvrApp.site.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'harkSvrApp.SiteStatus.null' | translate }}</option>
            <option value="UP">{{ 'harkSvrApp.SiteStatus.UP' | translate }}</option>
            <option value="DOWN">{{ 'harkSvrApp.SiteStatus.DOWN' | translate }}</option>
            <option value="ERROR">{{ 'harkSvrApp.SiteStatus.ERROR' | translate }}</option>
            <option value="UNKNOWN">{{ 'harkSvrApp.SiteStatus.UNKNOWN' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="harkSvrApp.site.lastCheck" for="field_lastCheck">Last Check</label>
          <div class="d-flex">
            <input
              id="field_lastCheck"
              data-cy="lastCheck"
              type="datetime-local"
              class="form-control"
              name="lastCheck"
              formControlName="lastCheck"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="harkSvrApp.site.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="applicationUserOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : applicationUserOption"
              *ngFor="let applicationUserOption of applicationUsersSharedCollection; trackBy: trackApplicationUserById"
            >
              {{ applicationUserOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
